body {
  background-color: #e0ffff;
  color: black;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

p {
  color: midnightblue;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: darkmagenta;
  background-color: khaki;
  font-style: italic;
  display: inline-block;
}
